version: "3.9"

services:
  postgres:
    image: postgres:15
    container_name: log-postgres
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: log_analytics
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:7
    container_name: log-redis
    restart: always
    ports:
      - "6379:6379"

  ingestion-service:
    build: ./ingestion-service
    container_name: ingestion-service
    restart: always
    ports:
      - "4001:4001"
    environment:
      DATABASE_URL: postgresql://postgres:postgres@postgres:5432/log_analytics
      PORT: 4001
      REDIS_HOST: redis
      REDIS_PORT: 6379
    depends_on:
      - postgres
      - redis

  auth-service:
    build: ./auth-service
    container_name: auth-service
    restart: always
    ports:
      - "4002:4002"
    environment:
      DATABASE_URL: postgresql://postgres:postgres@postgres:5432/log_analytics
      PORT: 4002
    depends_on:
      - postgres

volumes:
  postgres_data:
